<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <h1 style="margin-left:32rem;">Travel Bucket List</h1>

  <button href="/countries">Check out countries</button>

  </body>
</html>
