<!DOCTYPE html>
<html>
<head>
  <title>Travel Bucket List</title>
  <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<main>
  <h1>test</h1>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
