<!DOCTYPE html>
<html>
<head>
  <title>Travel Bucket List</title>
  <link rel="stylesheet" href="styles/styles.css">
</head>
  <body>
  <!-- Navigation bar -->
  <div>
    <a href="/">Home</a>
    <a href="/trips">Trips</a>
    <a href="/countries">Countries</a>
    <a href="/cities">Cities</a>
  </div>
  <%= yield %>
</body>
</html>
