<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h2 style="margin-left:36rem;">Countries</h2>

    <table>
      <tr>
        <th>Country</th>
      </tr>
      <tr>
        <td>Placeholder Country Name</td>
      </tr>
      <tr>
        <td>Placeholder Country Name</td>
      </tr>
      <tr>
        <td>Placeholder Country Name</td>
      </tr>
    </table>

  </body>
</html> -->
