<h2>Cities</h2>
<table>
  <tr>
    <th>ID</th>
    <th>City</th>
    <th>Country ID</th>
  </tr>
  <% for city in @cities %>
  <tr>
    <td><%= city.id %></td>
    <td><a href="/cities/<%=city.id%>"><%= city.name %></a></td>
    <td><%= city.country_id %></td>
  </tr>
  <% end %>
</table>

<br />

<div>
  <a href="/cities/new">Add City</a>
</div>
