<h2>Add a city to your bucket list</h2>
<a href="/cities">Back</a>

<form method="post" action="/cities">
<fieldset>
  <label for="country-id">Country Name:</label>
  <select id="country-id" name="country_id">
    <% for country in @countries %>
    <option value="<%= country.id %>" >
    <%= country.name %> </option>
    <% end %>
  </select>
</fieldset>
<fieldset>
  <label for="city-name">City Name:</label>
  <input type="text" name="name" id="city-name"/>
</fieldset>
  <input type="submit" value="Submit">
</form>
