<h2>Add a city to your bucket list</h2>

<h1>FIX ME!!</h1>
<p>user can add city.name in form</p>
<p>show country.id's in dropdown list</p>
<p>choosing country.id attaches country_id to City.new</p>
<p>submit save City.new</p>
<br>
<br>
<form method="post" action="/cities">
<!-- type city name -->
  <label for="city-name">City:</label>
  <input type="text" name="name" id="city-name"/>
<!-- select country from drop down -->
  <label for="country-id">Country:</label>
  <select>
    <option value="country-id">1</option>
  </select>
<!-- submt button -->
  <input type="submit" value="Submit">
</form>

<br />

<div>
  <a href="/cities">Back</a>
</div>
