<h2>Add a city to your bucket list</h2>

<form method="post" action="/cities">
<!-- drop down country list -->
  <label for="country-id">Country Name:</label>
  <select id="country-id" name="country_id">
    <% for country in @countries %>
    <option value="<%= country.id %>" >
    <%= country.name %> </option>
    <% end %>
  </select>
<!-- input city name box -->
    <label for="city-name">City Name:</label>
    <input type="text" name="name" id="city-name"/>
<!-- submit button -->
    <input type="submit" value="Submit">
  </form>

<br />

<div>
  <a href="/cities">Back</a>
</div>
