<h2>Details</h2>
<a href="/cities">Back</a>

<div>
  <table>
    <tr>
      <th>City</th>
      <th>Country</th>
    </tr>
    <tr>
      <td><%= @city.name %></td>
      <td><%= @city.country.name %></td>
    </tr>
  </table>
</div>



<a href="/cities/<%= @city.id %>/edit">Edit</a>
<a href="/cities/<%= @city.id %>/delete">Delete</a>
