<h2>Edit <%= @country.name %></h2>

<div>
  <form method="post" action="/countries/<%= @country.id %>">
  <fieldset>
    <label for="country-name">Country Name:</label>
    <input type="text" name="name" id="country-name" value="<%= @country.name %>">
    <input type="submit" value="Save">
  </fieldset>
  </form>
</div>

<br />
<div>
  <a href="/countries/<%= @country.id %>">Back</a>
</div>
