<h2>Countries</h2>
<a href="/countries/new">Add Country</a>
<div>
  <table>
    <tr>
      <th>Country</th>
    </tr>
    <% for country in @countries %>
    <tr>
      <td><a href="/countries/<%=country.id%>"><%= country.name %></a></td>
    </tr>
    <% end %>
  </table>
</div>
