<h2>Add a country to your bucket list</h2>

<form method="post" action="/countries">
  <label for="country-name">Country:</label>
  <input type="text" name="name" id="country-name"/>
  <input type="submit" value="Submit">
</form>

<br />

<div>
  <a href="/countries">Back</a>
</div>
