<h1>Add a country to your bucket list</h1>

<div>
  <form action="/create" method="post">
    <label for="country">Country</label>
    <input type="text" name="country" value="">
  </form>
</div>

<a href="/">Back to homepage</a>
