<h2>Add a country to your bucket list</h2>
<a href="/countries">Back</a>

<form method="post" action="/countries">
<fieldset>
  <label for="country-name">Country:</label>
  <input type="text" name="name" id="country-name"/>
  <input type="submit" value="Submit">
</fieldset>
</form>
