<h2>Details</h2>
<table>
  <tr>
    <th>Country</th>
  </tr>
  <tr>
    <td><%= @country.name %></td>
  </tr>
</table>
<br />
<div>
<a href="/countries/<%= @country.id %>/edit">Edit</a>
<a href="/countries/<%= @country.id %>/delete">Delete</a>
</div>
<br  />
<div>
  <a href="/countries">Back</a>
</div>
