<h2>Details</h2>
<a href="/countries">Back</a>

<div>
  <table>
    <tr>
      <th>Country</th>
    </tr>
    <tr>
      <td><%= @country.name %></td>
    </tr>
  </table>
</div>

<a href="/countries/<%= @country.id %>/edit">Edit</a>
<a href="/countries/<%= @country.id %>/delete">Delete</a>
