<h1>Welcome to your Travel Bucket List!</h1>

<p>Visit <a href="/index">Countries</a> to see the countries your list.</p>

<p>Or, you can <a href="/new">create</a> a new destination to add to your list</p>
