<h2>Add a trip to your bucket list</h2>
<a href="/cities">Back</a>

<div>
  <form method="post" action="/trips">
  <fieldset>
    <label for="city-id">City Name:</label>
    <select id="city-id" name="city_id">
      <% for city in @cities %>
      <option value="<%= city.id %>" >
      <%= city.name %> </option>
      <% end %>
    </select>
  </fieldset>
  <fieldset>
    <label for="trip-name">Trip Name:</label>
    <input type="text" name="name" id="trip-name"/>
  </fieldset>
  <fieldset>
    <label for="visited">Visited:</label>
    <select id="visited" name="visited">
      <option value="false"selected>❌</option>
      <option value="true">✅</option>
    </select>
  </fieldset>
    <input type="submit" value="Submit">
  </form>
</div>
